@model Vista_Web.Models.Persona

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Persona</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.dni)

        <div class="form-group">
            @Html.LabelFor(model => model.nombre_apellido, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre_apellido)
                @Html.ValidationMessageFor(model => model.nombre_apellido)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sexo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sexo)
                @Html.ValidationMessageFor(model => model.sexo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telefono, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.telefono)
                @Html.ValidationMessageFor(model => model.telefono)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.celular, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.celular)
                @Html.ValidationMessageFor(model => model.celular)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email1)
                @Html.ValidationMessageFor(model => model.email1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.observaciones, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.observaciones)
                @Html.ValidationMessageFor(model => model.observaciones)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clave_fiscal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clave_fiscal)
                @Html.ValidationMessageFor(model => model.clave_fiscal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_nacimiento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_nacimiento)
                @Html.ValidationMessageFor(model => model.fecha_nacimiento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tipo_PersonaId, "Tipo_PersonaId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Tipo_PersonaId", String.Empty)
                @Html.ValidationMessageFor(model => model.Tipo_PersonaId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tipo_Documento_id, "Tipo_Documento_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Tipo_Documento_id", String.Empty)
                @Html.ValidationMessageFor(model => model.Tipo_Documento_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado_id, "Estado_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Estado_id", String.Empty)
                @Html.ValidationMessageFor(model => model.Estado_id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
