@model IEnumerable<Vista_Web.Models.Persona>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clave_fiscal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_nacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipos_Documentos.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipos_Personas.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clave_fiscal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipos_Documentos.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipos_Personas.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.dni }) |
            @Html.ActionLink("Details", "Details", new { id=item.dni }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.dni })
        </td>
    </tr>
}

</table>
